body {
  position: relative;
}

main {
  text-align: center;
}

.main_screen {
  width: 100vw;
  position: absolute;
  text-align: center;
}

.width-container {
  position: relative;
  height: 100%;
}

@media(min-width: 900px) {
  .width-container {
    width: 900px;
    margin: 0 auto;
  }
}
