#home_name {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  font-size: 2.5em;
  font-family: serif;
  letter-spacing: 20px;
  font-family: 'Noto Serif JP', serif;
}

.home_name_rotate {
  left: 40% !important;
  transform: rotate(90deg) !important;
}

.page_container {
  margin: 0 auto !important;
  padding: 90px 0 0;
  width: 90%;
  text-align: left;
}

#about {
  padding: 130px 0 0;
}

.page_container p {
  font-size: 14px;
  letter-spacing: 2.5px;
  line-height: 26px;
  padding: 8px 0;
}

#about > p {
  line-height: 32px;
}

#profile_name {
  font-size: 23px;
  letter-spacing: 4px;
  font-weight: bold;
}

#profile_name_under {
  padding: 0 !important;
  font-weight: lighter;
  color: #ccc;
  font-size: 16px;
}

#profile_heading2 {
  font-size: 20px;
  padding: 20px 0 10px;
  font-weight: bold;
  letter-spacing: 3.5px;
}

#profile_ul {
  display: block;
}

#profile_ul > li {
  padding: 12px 0 0 30px !important;
}

@media screen and(min-width: 600px) {
  #home_name {
    font-size: 3.5em;
    top: 50%;
    left: 50%;
  }
}

@media screen and (min-width: 900px) {
  .home_name_rotate {
    left: 48% !important;
    transform: rotate(90deg) !important;
  }

  #home_name {
    font-size: 3.2em;
    top: 50%;
    left: 50%;
  }

  .page_container {
    width: 810px;
    margin: 0 auto !important;
    padding: 200px 0 0 180px;
    text-align: left;
  }

  #about {
    padding: 260px 0 0 180px;
  }

  .page_container p {
    line-height: 32px;
    padding: 12px 0;
  }


  #profile_heading2 {
    padding: 70px 0 25px;
  }

  #profile_ul > li {
    padding: 20px 20px 20px 30px;
  }

  #profile_ul {
    display: flex;
  }

  #about > p {
    line-height: 40px;
  }

}
